Host client-mlops
   HostName <client-vm-ip>
   User student
   IdentityFile <path-to-private-key>

Host remote-mlops
   HostName <remote-vm-ip>
   User student
   IdentityFile <path-to-private-key>
   LocalForward 5000 127.0.0.1:5000
   LocalForward 9000 127.0.0.1:9000
   LocalForward 9001 127.0.0.1:9001
